body{
	font-family: 'Droid Serif', serif;
	margin: 0px;
}
@font-face{
	font-family:'OdinRounded';
	src:url('../fonts/OdinRounded.otf') format('opentype');
}
/*--Header Starts Here-- */
.container-fluid{
	margin: 0px;
}
.header{
	background-color:#FF5E00;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	padding:40px 0px 100px 0px;
	height: 600px;
	margin: 0px;
}
.logo{
	float:left;
}
/*NAV STYLES*/

nav ul{
	float: right;
	list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li{
	display:inline;
	margin:15px;
}
nav ul li a{
	color:#FFFFFF;
	font-size:18px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	font-weight: 400;
	font-family: 'OdinRounded', sans-serif;
}
nav ul li a:hover, nav li.active a{
		color:#2ecc71;
}

/*ABOUT STYLES*/
.about{
	margin: 0px;
	background-color:#34495e;
	color:#FFFFFF;
	font-family:'OdinRounded',sans-serif;
	font-size:18px;
}
.about-title{
	text-align:center;
	font-size:40px;
	font-weight:bold;
}
.about-body{
	margin: 0px;

}
@media(max-width: 768px){
	.collapse{
		display: block;
	}
	.navlist{
		display: none;
	}
}
@media(min-width: 768px){
	.collapse{
		display: none;
		float: right;
	}
	.navlist{
		display: inline;
	}
}
.video{
	float: center;
	margin-top: 25px;
}
