body{
	font-family: 'Droid Serif', serif;
	margin: 0px;
}
@font-face{
	font-family:'OdinRounded';
	src:url('../fonts/OdinRounded.otf') format('opentype');
}
/*--Header Starts Here-- */
.container-fluid{
	margin: 0px;
}
.header{
	background-color:#FF5E00;
	margin: 0px;
} 
.imgPlaceHolder{
	margin: 0px;
	height:400px;
	background-color:#FF5E00;
}
.logo{
	float:left;
	padding:0px;
	padding-top: 15px;
}
/*NAV STYLES*/

.menu{
	 float:right;
	 margin-top:10px;
}
.menu li{
	display:inline-block;
}
 .menu li:first-child{
   	margin-left:0;
}
.menu li a{
  	display: block;
	font-size:18px;
	color:#fff;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	font-weight: 400;
	font-family: 'OdinRounded', sans-serif;
}
#nav .current a {
    color:#fb326f;
   -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.menu li a:hover ,.menu li.active a{
	color:#2ecc71;
} 
.toggleMenu {
	display:  none;
   	padding:4px 5px 0px 5px;
    border-radius:2em; 
    -webkit-border-radius:2em;
    -moz-border-radius:2em;
    -o-border-radius:2em; 
}
.nav:before,
.nav:after {
    content: " "; 
    display: table; 
}
.nav:after {
    clear: both;
}
.nav ul {
    list-style: none;
}
@media screen and (max-width:800px) {
	.menu {
		margin:10px 0;
	}
    .active {
        display: block;
    }
    .menu li a{
    	text-align:left;
    	border-radius:0;
    	-webkit-border-radius:0;
    	-moz-border-radius:0;
    	-o-border-radius:0;
    }
    .nav {
	     list-style: none;
	     *zoom: 1;
	     width:95%;
		 position: absolute;
		 right:23px;
		 background:#051619;
		 top:60px;
		 z-index: 9999;
		 border:1px solid #eee;
    }
   .menu li a span.messages{
    	text-align:center;
    	top:15px;
    }
    .nav li ul{
    	width:100%;   	
    }
    .menu ul{
    	margin:43px 0px 0px 0px;
    }
    .nav > li.hover > ul {
        width:100%;
    }
    .nav > li {
        float: none;
        display:block;
    }
    .nav ul {
        display: block;
        width: 100%;
    }
   .nav > li.hover > ul , .nav li li.hover ul {
        position: static;
    }
    .nav li a{
    	border-top:1px solid #eee;
    	background:#fff;
    	color:#384254;
    }
     .nav li:first-child a{
     	border-top:none;
     }
 }

.first{
	margin-left:0px;
}
.last{
	margin-right: 15px;
	
}

/*ABOUT STYLES*/
.about{
	margin: 0px;
	background-color:#34495e;
	color:#FFFFFF;
	font-family:'OdinRounded',sans-serif;
	font-size:18px;
	
}
.about-title{
	text-align:center;
	font-size:40px;
	font-weight:bold;
}
.about-body{
	text-align: left;
}
@media(max-width: 768px){
	.collapse{
		display: block;
		text-align: right;
		margin: 0px;
		
	}
	.navlist{
		display: none;
	}
}
@media(min-width: 768px){
	.collapse{
		display: none;
	}
	.navlist{
		display: inline;
	}
}
.video{
	float: center;
	margin-top: 25px;
	padding-bottom: 25px;
}
/*FOUNDERS STYLES*/
.founders{
	text-align: center;
	font-family: OdinRounded;
}
.founders ul{
	font-size: 18px;
}
.aFounder{
	float:center;
}
.profile_picture img{
	background:#ffffff;
	border-radius:130px;
	-webkit-border-radius: 130px;
	-moz-border-radius:130px;
	-o-border-radius: 130pxx;
	padding:5px 0px;
	height: 150px;
	width:150px;	
}

.founders ul{
	style: none;
	text-align: left;
}
.name{
	color:#000000;
	font-size:2.5em;
}
.email{
	font-size: 1.2em;
	color: #000;
}

.github img{
	height: 2.5em;
	width: 2.5em;
}

.team_font{
	color: #000;
}

/*DOWNLOAD STYLES*/
.download{
	background-color:#663333;
	padding-bottom: 100px;
}
.download h2, h4{
	padding-top: 15px;
	font-family:OdinRounded;
	color:white;

	text-align: center;
}

.download img{
	height: 5em;
	width:5em;
}

@media(min-width: 768px){
.download img{
	height: 15em;
	width: 15em;
	}
}


.apple, .windows{
	text-align: center;
}

.footer{
	margin: 0px;
	background-color: #2C3E50;
	padding-top: 20px;	
}
.footer img{
	text-align: left;
	padding-left: 15px;
	height: 15em;
}
table{
	width: 100%;
	table-layout: fixed;
	border: 1px;
	border-color: white;
}
.footer table tr td{
	padding-top: 0;
	padding-bottom: 0;
	
}

/* .footer td
{
	text-align: left;
	background-color: #000;
	border: 2px solid white;
} */
.footer .left{
	text-align: left;
	padding-left: 3em;
}

.footer .right{
	text-align: right;
}

.row-eq-height{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.mail h4{
	text-align: left;
	padding-left: 15px;
}

.mail small, a{
	text-align: left;
	padding-left: 15px;
	color: #fff;
}


.smallish{
	margin: 0px;
	background-color: #2C3E50;
	padding-top: 20px;	
	text-align: center;
}

ul.social li{
	display:inline-block;
	margin:0px 20px 0px 0px;
	
}
ul.social li i{
	background:url(../img/img-sprite.png);
	width:64px;
	height:64px;
	display:block;
	cursor:pointer;
}
ul.social li i:hover{
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
ul.social li i.fa{
	background-position:-7px 0px;
}
ul.social li i.fa:hover{
	background-position:-7px -65px;
}
ul.social li i.tw{
	background-position:-68px 0px;
}
ul.social li i.tw:hover{
	background-position:-68px -65px;
}
ul.social li i.ist{
	background-position:-132px 0px;
}
ul.social li i.ist:hover{
	background-position:-132px -65px;
}

