#home {
    min-height: 250px;
    padding-bottom: 50px;
    margin-top: 50px;
    -moz-box-shadow:  0 2px 5px 0 #333;
    -webkit-box-shadow: 0 2px 5px 0 #333;
    box-shadow: 0 2px 5px 0 #333;
    position: relative;
    overflow: hidden;
}

video {
    height:100%;
    width:100%;
    background-size: cover;
    /*position: absolute;*/
    top: 0;
    left: 0;
}

html, body {
    height: 100%;
}