/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
/*--Header Starts Here-- */
body{
	font-family:Arial, Helvetica, sans-serif;
}
.header{
	background:url(../images/bg.jpg) no-repeat 0px 0px;
	background-size:cover;
	padding:10px 10px
}
.logo{
	float:left;
}
.logo img{
	display:block;
}
/*--menu--*/
.drp-dwn{
	float:right;
	margin-top: 5px;
}
.drp-dwn select {
	padding: 4px;
	outline: none;
	display: block!important;
	width:82%;
	border: none;
	background:#fff;
	color: #000;
	cursor: pointer;
	font-size: 0.8125em;
	float: right;
}
.header-matter{
	text-align: center;
	padding:15px 0px 0px 0px;
}
.header-matter h1{
	font-weight: 700;
	color: #fff;
	font-size: 15px;
	padding: 0px 10px;
}
.header-matter small{
	font-weight: 700;
	color: #fff;
	font-size: 15px;
	padding: 0px 10px;
}
	
.line{
	padding:15px 0px 0px 0px;
}
a#v-exchange {
	text-decoration: none;
	background: #2ecc71;
	padding: 7px 10px;
	font-size: 15px;
	color: #fff;
	margin: 10px 0px;
	font-weight: bold;
}
.line p {
	font-size: 15px;
	padding: 12px 0px 0px 0px;
	color: #fff;
	font-weight: 400;
}
/*-- Header part Ends Here --*/
/*-- About us part starts Here --*/
.about{
	background:#34495e;
	padding:10px 10px
}
.about-para{
	text-align: center;
}
.about-para h3{
	color:#fff;
	font-weight: 700;
	font-size: 18px;
	padding:0px 0px 20px 0px;
}
.about-para p{
	color: rgba(255, 255, 255, 0.89);
	font-weight: 400;
	font-size:13px;
	text-align:left;
	padding:0px 0px;
	line-height: 20px;
}
.about-row{
	padding:10px 0px;
}
.about-row-column{
	text-align:center;	
	margin: 10px 0px;
}
.about-row-column h3 a{
	color: #fff;
	font-weight: 700;
	font-size:17px;
	padding:10px 0px;
	text-decoration:none;
}
.col-md-6.team-row-column h4 {
	margin: 10px 0px 0px 0px;
}	
.about-row-column p{
	color: rgba(255, 255, 255, 0.88);
	font-weight: 400;
	font-size:13px;
	padding: 10px 0px;
}
.about-row-column i.icon1 {
			width:40px;
			height:38px;
			background: url(../images/sym1.png)no-repeat 0px 0px ;
			display: inline-block;
}
.about-row-column i.icon2 {
			width: 40px;
			height: 38px;
			background: url(../images/sym2.png)no-repeat 0px 0px ;
			display: inline-block;
}
.about-row-column i.icon3 {
			width: 40px;
			height: 38px;
			background: url(../images/1.png)no-repeat 0px 0px ;
			display: inline-block;
}
/*-- About us part ends Here --*/
/*-- Portfolio Starts Here --*/
.portfolio{
	text-align:center;
}
.portfolio-top {
	text-align: center;
}
.portfolio-top h3 {
	font-weight: 700;
	font-size:18px;
	padding: 20px 0px 0px 0px;
}

.b-link-stripe{
	display:inline-block;
	vertical-align:top;
}

/*--team--*/
.team{
	background:#fff;
	padding:0 0 9% 0;
}

}
	#filters li {
	}
 	#portfoliolist .portfolio {
		width: 50%;
		float:left;
	}
	div#portfoliolist {
		padding: 0px 0px;
}	
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
/*-- Portfolio Ends Here --*/
/*-- Our Team Starts Here --*/
.ourteam {
	background:#2980b9;
	padding:20px 0px;
}
.team-row{
	text-align: center;
}
.team-row h3{
	color:#fff;
	font-weight: 700;
	  
	font-size: 18px;
	padding:0px 0px 20px 0px;
}
	
.team-row-column img{
	padding:5px 0px;
}
.team-row-column h4 a{
	color:#fff;
	font-weight: 700;
	  
	font-size: 17px;
	text-decoration:none;
}
.team-row-column{
	padding:0px 10px;
	text-align: center;
}	
.team-row-column p{
	color:rgba(255, 255, 255, 0.92);
	font-weight: 400;
	font-size:13px;
	line-height:23px;
	padding: 5px 0px;
}
ul.social li{
	display:inline-block;
	margin:0px 0px 0px 0px;
	
}
ul.social li i{
	width:40px;
	height:40px;
	display:block;
	cursor:pointer;
}
ul.social li i.fa{
	background:url(../images/fb.png)no-repeat;
}
ul.social li i.tw{
	background:url(../images/tw.png)no-repeat;
}
ul.social li i.soc{
	background:url(../images/soci3.png)no-repeat;
}
	 
/*-- Our Team Ends Here --*/
/*-- Contact starts Here --*/
.contact-row{
	padding:20px 10px;
	text-align:center;
}
.contact-row h3{
	font-weight: 700;
	  
	font-size: 18px;
	color: #2c3e50;
	padding:0px 0px;
	margin:0px 0px 10px 0px;
}
.contact-row p{
	font-weight: 700;
	  
	font-size: 15px;
	color: #2c3e50;
}
.contact-row-column{
	text-align:left;
}
.contact-row-column input[type="text"]{
	border:1px solid #f0f0f0;
	width:90%;
	outline:none;
	padding:20px 10px 10px 10px;
	margin:10px 0px;
	font-weight: 400;
	font-size:13px;
}
.text2 textarea {
	width: 90%;
	margin: 10px 0;
	border:1px solid #f0f0f0;
	color: #000;
	outline: none;
	margin-bottom: 25px;
	height: 100px;
	padding: 12px 10px;
	font-size:13px;
	resize: none;
	font-weight: 400;	
	font-family: arial;
}
.contact_btn{
	text-align:left;
	padding:0px 10px;
}	
.contact_btn input[type="submit"]{
	border:0px;
	background:#2ecc71;
	padding:10px 20px;
	color:#fff;
	font-size:13px;
	outline:none;
	cursor: pointer;
}
	
.contact-row-column .text{
	text-align:left;
	padding:10px 10px 5px 10px;
}
.contact-row-column .text h4{
	font-size:15px;
	font-weight: 700;
	  
	color:#2c3e50;
	margin: 10px 0px;
}
.contact-row-column .text p,.contact-row-column .text small{
	font-size:13px;
	font-weight: 400;
	color:#2c3e50;
}
.contact-row-column .text p a{
	text-decoration:none;
	color:#2c3e50
}
.text1 {
	padding: 0px 10px 10px 10px;
}
		
/*-- Contact Ends Here --*/
/*-- Footer Starts Here --*/
.footer{
	background:#2c3e50;
	padding:20px 0px;
}
.footer-row{
	padding:0px 0px;
}
.footer-row-column .text1 p,.footer-row-column .text1 small,.footer-row-column .text1 p a{
	color:#fff;
	font-size:13px;
	font-weight: 400;
	text-decoration:none;
}
	
p.copyright{
	color:#fff;
	font-size:14px;	
	padding: 0px 5px;
}
p.copyright a{
	text-decoration:none;
	color:#2ecc71;
	font-family: Arial, Helvetica, sans-serif;
	
}
/*-- Footer Ends Here --*/
